/* navbar */
#nav1{
    background-color: rgb(218, 173, 25) !important;
    padding: 0px 15px ;
  
}
.navbar{
  color: rgb(211, 42, 42) !important;
}
#searchbox{
    background-color:rgb(231, 157, 20) ;
   
}
#searchbox::placeholder{
    color: white;
}
#searchbtn{
    background-color:rgb(231, 157, 20);
    color: white;
}
/* banner */

#banner{
    background-color:rgb(253 216 82);
    height: 557px;
    padding-top: 165px;
    color: rgb(211, 42, 42);
}
   .para{
    font-size:    20px;
   }
   .heading{
    font-size:  35px; 
   }
  .btn{
    border: 4px solid rgb(211, 42, 42);
    background-color:rgb(231, 157, 20);
    color: rgb(211, 42, 42) ;
    border-radius: 7px;
    margin: 5px;
    font-size:20px;
  }
  button:hover{
    background-color: rgb(50, 97, 50);
    
  }
  @media only screen and (max-width:925px){
    
    .heading{
        font-size:  30px; 
       }
  }
  
  @media only screen and (max-width:800px){
    #bannertext h1{
        font-size: 28px;
    }
  }
  @media only screen and (max-width:765px){
    #banner{
        height: 406px;
    }
    #bannerimg{
        height: 20px;
    }
  }
  @media only screen and (max-width:520px){
   #banner{
    padding-top: 55px;
   }

  }
  @media only screen and (max-width:385px){
    .heading{
      font-size: 20px;
    }
    .para{
      font-size: 12px;
    }
    #banner{
      padding-top: 4px;
    }
  }

  #servicetext{
    padding: 45px;
    color: rgb(211, 42, 42); 
    font-size: 22px;   
  }
  #serviceimg{
    margin-top: 80px;
    background-size: cover;
  }
  .servicehead{
    
    color: rgb(211, 42, 42);
    text-shadow: 4px 3px rgb(231, 157, 20);
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom:20px ;
    font-size: 65px;
  }
  /* response section */
  #response{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/396/771/original/abstract-hexagon-lines-pattern-on-yellow-background-medical-and-science-structure-molecule-concept-free-vector.jpg");
    background-size: cover;
    color: rgb(211, 42, 42) ;
    padding-top: 50px;
    padding-bottom:20px ;
    margin-top: 10px;
  }
  .responseicon{
   font-size :60px; 

  }
  #blog{
    color:rgb(211, 42, 42) ;
   
    margin: 14px;
  }
  #blogh{
font-size: 65px;
text-shadow: 4px 3px rgb(231, 157, 20);
  }
  #blogp{
    font-size: 35px;
  }

 #img1{
  color:rgb(211, 42, 42) ;
  
 }
 #img2{
  color:rgb(211, 42, 42) ;
 }
 #img3{
  color:rgb(211, 42, 42) ;
 }
 .border1{
  border:3px solid rgb(231, 157, 20) ;
  border-top: 0px;
  padding: 10px;
 }
 /* footer */
 #footer{
  background-color:rgb(233 163 34);
  padding-top: 80px;
  padding-bottom: 80px;
  color: rgb(211, 42, 42);
  margin-top: 30px;
  font-size: 20px;
  
 }
 #footer a{
  text-decoration:none ;
  color: rgb(211, 42, 42);
 }
 .footer4{
  font-size:35px ;
 }
 #footerform{
  margin-top: 10px;
  margin-bottom:15px ;
 }
 #copyright{
  background-color: rgb(99, 56, 1);
  color: rgb(211, 42, 42);
 }
 